<div class="container tabla_res">
    <h3>Algunos de los datos en los que nos hemos basado</h3>
    <table>
        <tr>
            <th>Profesión</th>
            <th>Sueldo anual bruto</th>
            <th>Tecnología</th>
            <th>Experiencia (años)</th>
            <th>Sector</th>
        </tr>
        <tr>
            <td>Front-end</td>
            <td>24.000</td>
            <td>Angular</td>
            <td>2</td>
            <td>Consultora</td>
        </tr>
        <tr>
            <td>Front-end</td>
            <td>26.000</td>
            <td>React</td>
            <td>3</td>
            <td>Start-up</td>
        </tr>
    </table>

</div>