

table{
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    background: #4801ff;
    background: -webkit-linear-gradient(-68deg, #f03c79 , #2d4084);
    background: -o-linear-gradient(-68deg, #f03c79 , #2d4084);
    background: -moz-linear-gradient(-68deg, #f03c79 , #2d4084);
    background: linear-gradient(-68deg, #f03c79 , #2d4084);
    color: white;
    text-align: center;
    font-size: 1.2em;
    margin: 50px 0;
}

table tr{
    border-top: 1px solid #fafafa;
}

table th{
    padding: 15px;
    background-color: #2d4084;
    font-weight: bold;
}

table td{
    padding: 20px 10px;
}

table td:hover, table tr:hover,table th:hover{
    background-color: rgba(255, 255, 255, 0.25);
}

.tabla_res h3 {
    font-size: 2em;
    color: #f03c79;
    margin-top: 15px;
}

h3.no_res {
    font-size: 2em;
    margin: 40px 0;
    color: #2d4084;
    text-align: center;
}

@media (max-width: 900px){
    table td {
    padding: 20px 5px;
}
}

@media (max-width: 800px){
    table{
        display: none;
    }

    .tabla_res h3 {
    display: none;
}
}