<div class="container">
    <h3 class="no_res" *ngIf="no_results">{{no_results}}</h3>
</div>
<div class="container tabla_res" *ngIf="salario_medio">
    <h3>Algunos de los datos en los que nos hemos basado</h3>
    <table>
        <tr>
            <th>Profesión</th>
            <th>Sueldo anual bruto</th>
            <th>Tecnología</th>
            <th>Experiencia (años)</th>
            <th>Sector</th>
        </tr>
        <tr *ngFor="let dev of datos_totales">
            <td>{{dev.cargo}}</td>
            <td>{{dev.bruto | currency:'EUR':'symbol':'5.0-0'}}</td>
            <td>{{dev.tecnologia}}</td>
            <td>{{dev.experiencia}}</td>
            <td>{{dev.sector}}</td>
        </tr>
    </table>
</div>