footer{    
    background: #2d4084; /* Old browsers */
    background: -moz-linear-gradient(left,  #2d4084 0%, #4073b7 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #2d4084 0%,#4073b7 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #2d4084 0%,#4073b7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d4084', endColorstr='#4073b7',GradientType=1 ); /* IE6-9 */
    padding: 30px 0;
    padding-bottom: 0;
}

footer p{
    color: #eee;
}

.subfooter p {
    border-top: 1px solid rgb(206, 206, 206);
    padding-top: 10px;
}

.subfooter {
    padding: 15px 0;
    text-align: center;
    font-size: .8em;
}

.footer_container{
    display: flex;
    justify-content: space-between;
    text-align: left;
    background-image: url(../../assets/img/fondo-footer.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.footer_container div{
    width: 33%;
    padding: 10px;
    font-size: .8em;
    margin-bottom: 30px;
    line-height: 1.3em;
    border-right: 1px solid rgb(206, 206, 206);
}

.footer_container div:last-child{
    border-right: none;
}

footer .footer_container h4{
    font-weight: 800;
    font-size: 1.1em;
    color: #eee;
    margin-bottom: 25px;
    text-align: left;
}

p.social{
    margin-top: 10px;
}

p.social a i{
    font-size: 1.5em;
    color: #fff;
    padding: 0px 10px;
    transition: .5s;
}

p.social a:hover i{
    color: #F03C79;
    transform: scale(1.1);
}

ul.menu_footer li,
ul.menu_legal li{
    margin: 10px 0px;
}

ul.menu_footer li a:before{
    content: ">_";
}

ul.menu_footer li a,
ul.menu_legal li a{
    transition: .5s;
    color: #fff;
}

i.fab.fa-facebook {
    color: #3b5998!important;
}

i.fab.fa-twitter {
    color: #00acee!important;
}

i.fab.fa-github {
    color: #333!important;
}

i.fab.fa-linkedin {
    color: #0e76a8!important;
}

ul.menu_footer li a:hover,
ul.menu_legal li a:hover{
    color: #F03C79;
}

img#logo_footer{
    width: 200px;    
    max-width: 100%;
}

@media (max-width: 550px){
.footer_container {    
    display: block;   
}

.footer_container div{
    width: 100%;
    border-right: none;
    border-bottom: 1px solid grey;
}

.footer_container div:last-child{
    border-bottom: none;
}
}