<footer>
    <div class="footer_container container">
        <div>
            <h4>Sobre nosotros</h4>
            <p>earnI.T. es una iniciativa sin ánimo de lucro que intenta hacer más fácil el acceso a la información por parte de trabajadores y empresas.</p>
            <p>Entre todos, podemos hacer que la remuneración percibida en el sector del desarrollo sea más justa y equitativa.</p>
        </div>
        <div>
            <h4>Menu</h4>
        </div>
        <div>
            <h4>Legal</h4>
        </div>
    </div>
    <div class="subfooter">
        <div class="container">

            <p>&copy; 2019 earnI.T.</p>
        </div>
    </div>

</footer>