<footer>
    <div class="footer_container container">
        <div>
            <h4>Sobre nosotros</h4>
            <p>earnI.T. es una iniciativa sin ánimo de lucro que intenta hacer más fácil el acceso a la información por parte de trabajadores y empresas.</p>
            <p>Entre todos, podemos hacer que la remuneración percibida en el sector del desarrollo sea más justa y equitativa.</p>
            <p class="social">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
            </p>
        </div>
        <div>
            <h4>Menu</h4>
            <ul class="menu_footer">
                <li><a href="#">Incio </a></li>
                <li><a href="#">Colabora con earnI.T.</a></li>
                <li><a href="#">Compara tu salario</a></li>
            </ul>
            <img src="../../assets/img/earnit_log_footer.png" alt="earnIT comparador de sueldos de IT" id="logo_footer">
        </div>
        <div>
            <h4>Legal</h4>
            <ul class="menu_legal">
                <li><a href="#">Aviso legal</a></li>
                <li><a href="#">Política de privacidad</a></li>
                <li><a href="#">Política de cookies</a></li>
                <li><a href="#">Contacta con nosotros</a></li>
            </ul>

        </div>
    </div>
    <div class="subfooter">
        <div class="container">

            <p>&copy; 2019 earnI.T.</p>
        </div>
    </div>

</footer>