.claim_index {
    background-color: #2d4084;
    padding: 80px 0;
    background-image: url(../../assets/img/background-earnit.png);
    background-size: cover;
}

.claim_index h3{
    color: white;
    text-align: center;
    font-weight: 800;
    font-size: 2.5em;
    margin-bottom: 30px;
}

.claim_index h4{
    color: white;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 50px;
    line-height: 1.5em;
}

p.btns{
    text-align: center;
    margin: 20px 0;
}

div.texto_index{
    display: flex;
    margin: 40px auto;
    margin-bottom: -5px;
}

div.texto_index div{
    width: 50%;    
}

.texto_index h4 {
    font-size: 2em;
    font-weight: 800;
    color: #696969;
    margin-bottom: 30px;
    margin-top: 50px;
}

.texto_index p {
    line-height: 1.8em;
    color: #6a7692;
    margin-bottom: 30px;
}

.texto_left hr {
    width: 100px;
    text-align: left;
    display: inline-block;
    margin-bottom: 30px;
    border: 3px solid #2D4084;
}

.texto_left a {
    font-size: 1.2em;
    transition: .3s;
}

.texto_left a:hover {
    color: #F03C79;
}

.texto_left a span{
    font-size: 1.3em;
    transition: .3s;
}

.texto_left a:hover span{
    font-size: 1.3em;
    padding-left: 10px;    
}

@media (max-width: 900px){

    .texto_index h4 {    
    margin-top: 30px;
    }

}

@media (max-width: 650px){

.btn_trans {   
    display: block;
    width: 18em;
    margin: 15px auto;
}

div.texto_index {    
    display: block;   
}

div.texto_index div {
    width: 100%;
}

}