<div class="claim_index">
    <div class="container">
        <h3>Gracias a ti, podemos hacer que earnI.T. crezca</h3>
        <h4>Tanto si deseas compartir información sobre tu salario con nuestra comunidad, como si deseas recibir información sobre los sueldos del mercado IT, puedes ayudarnos a
            crecer.</h4>
        <p class="btns">
            <a [routerLink]="['/colabora']" class="btn_trans">Comparte tu info</a>
            <a [routerLink]="['/compara']" class="btn_trans">Haz una consulta</a>
        </p>
    </div>
</div>
<div class="texto_index container">
    <div class="texto_left">
        <h4>Consulta, compara y comparte</h4>
        <hr>
        <p>En earnI.T., con la ayuda de todos, intentamos que el sector IT sea una comunidad más abierta, más transparente y más colaborativa. Gracias a la generosidad de los que
            decidís compartir con los demás, hacemos el sector mas amigable para nuevos y veteranos.</p>
        <a [routerLink]="['/compara']">Compara salarios <span>➞</span></a>
    </div>
    <div>
        <img src="../../assets/img/developer.png" alt="Sueldo medio developer">
    </div>
</div>