.hero{
    background-image: url(../../assets/img/comparador-sueldos-it-hero.jpg);
    background-size: cover;
    background-position: top;
}

.hero h1{
    color: white;
    font-weight: 800;
    max-width: 800px;
    font-size: 4em;
    padding-top: 100px;
    margin-bottom: 30px;
    line-height: 1.2em;
}

.hero h2{
    color: white;    
    max-width: 800px;
    font-size: 2em;    
    margin-bottom: 30px;
    font-weight: 300;
    line-height: 1.3em;
}

.boton{
    background: transparent linear-gradient(90deg, #2D4085 0%, #4155A2 100%) 0% 0% no-repeat padding-box;
    border-radius: 45px;
    color: white;
    padding: 20px 30px;
    display: inline-block;
    margin-top: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    margin-bottom: 190px;
    transition: .5s;
}

.boton:hover{
transform: scale(1.1);
cursor: pointer;
}

@media (max-width: 900px){

.hero h1{
    font-size: 3.4em;
}

.hero h2 {
    color: white;
    max-width: 670px;
    font-size: 1.7em;
    margin-bottom: 30px;
}


}

@media (max-width: 500px){

.hero h1 {
    font-size: 2.8em;
}

}