<div class="formulario">
    <div class="container">
        <form novalidate [formGroup]="formulario_solicitud" (ngSubmit)="onSubmit()" method="POST">
            <div>
                <label for=""><i class="fas fa-list"></i> Selecciona una profesión</label>
                <select formControlName="cargo">
                    <option value="" disabled>Ej. Full-stack</option>
                    <option value="Full-stack">Full-stack</option>
                    <option value="Front-end">Front-end</option>
                    <option value="Back-end">Back-end</option>
                </select>
                <p class="error" *ngIf="formulario_solicitud.controls['cargo'].errors?.required && formulario_solicitud.controls['cargo'].touched">
                    ⚠ El campo profesión es requerido ⚠
                </p>
            </div>
            <div>
                <label for=""><i class="far fa-calendar-alt"></i> Seleciona tu experiencia</label>
                <select formControlName="experiencia">
                    <option value="" disabled>Ej. 2 años</option>
                    <option value="0">Sin experiencia</option>
                    <option value="1">1 año</option>
                    <option value="2">2 años</option>
                    <option value="3">3 años</option>
                    <option value="4">4 años</option>
                    <option value="5">Más de 4 años</option>
                </select>
                <p class="error" *ngIf="formulario_solicitud.controls['experiencia'].errors?.required && formulario_solicitud.controls['experiencia'].touched">
                    ⚠ El campo experiencia es requerido ⚠
                </p>
            </div>
            <div> <label for=""><i class="fas fa-desktop"></i> Seleciona la tecnologías con la que trabajas</label>
                <select formControlName="tecnologia">
                    <option value="" disabled>Ej. JavaScript</option>
                    <option value="Javascript">JavaScript</option>
                    <option value="Angular">Angular</option>
                    <option value="React">React</option>
                    <option value="Vue.js">VueJS</option>
                    <option value="PHP">PHP</option>
                    <option value="NodeJS">NodeJS</option>
                    <option value="Java">Java</option>
                    <option value=".Net">.Net</option>
                    <option value="Python">Python</option>
                </select>
                <p class="error" *ngIf="formulario_solicitud.controls['tecnologia'].errors?.required && formulario_solicitud.controls['tecnologia'].touched">
                    ⚠ El campo tecnologias es requerido ⚠
                </p>
            </div>
            <div>
                <input type="submit" value="Buscar" [disabled]="!formulario_solicitud.valid" (click)="scroll(respuesta)">
            </div>
        </form>
    </div>
</div>
<div class="container res">
    <h2 #respuesta>Resultados de la búsqueda</h2>
    <div class="resultados">
        <div>
            <h3>Título de la ocupación</h3>
            <h4><i class="fas fa-laptop-code"></i> {{datos_devs.cargo || 'Cargo'}}</h4>
        </div>
        <div>
            <h3>Sueldo promedio b/a</h3>
            <h4>{{salario_medio || 'Salario'}} <i class="fas fa-euro-sign"></i></h4>
        </div>
        <div>
            <h3>Tecnología usada</h3>
            <h4><i class="fas fa-code"></i> {{datos_devs.tecnologia || 'Tecnología'}}</h4>
        </div>
    </div>
</div>
<app-tablaresultados [datos_totales]="datos_totales"></app-tablaresultados>