.formulario {
    padding-top: 20px;
    padding-bottom: 90px;
    background: -webkit-gradient(linear, left top, right bottom, from(#fff), color-stop(50%, #fff), color-stop(50%, #eee), to(#eee));
    background: linear-gradient(to bottom right, #fff 0%, #fff 50%, #eee 50%, #eee 100%);
}

.formulario .container{
    margin: 10px auto;
    padding: 60px 20px;
    box-shadow: 6px 3px 36px #929292;
    border-radius: 25px;
    background: #fff;
    max-width: 75%;
}

div.formcol select{
    display: block;
    width: 50%;
    margin: 5px auto;
    font-size: 1.1em;
    height: 50px;
    outline: none; 
    margin-bottom: 50px;
}

div.formcol input[type=number]:hover,
div.formcol select:hover{
    background-color: #eee;
}

option[disabled]{
    color: #e0e0e0;
}

.error {
    width: 50%;
    color: #f8faff;
    margin: 20px auto;
    background-color: crimson;
    border: 1px solid #d30932;
    padding: 10px 5px;
    border-radius: 5px;
}

input[disabled]{
    background-color: #929292!important;
    border-color: #929292!important;
    cursor: no-drop!important;
}

form select, input {
    border: none;
    border-bottom: 3px solid #f03c79;    
    color: #6e6e6e;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 40px;
    width: 50%;
}

label{
    display: block;
    width: 50%;
    margin: 0px auto;    
    color: #6e6e6e;    
    padding-bottom: 4px;
    font-size: .9em;
    width: 50%;
}

label .fas, label .fa, label .far {
    color: #f03c79;
}

.formulario select{    
    font-size: 1.1em;
    height: 60px;
    outline: none;
    display: block;
    padding-left: 10px;
    transition: .5s;
} 

.formulario select:hover{
    cursor: pointer;
    background-color: #f8f7f7;
    border-bottom: 3px solid #2d4084;
    padding-left: 15px;
}


input[type="submit"] {
    font-weight: 800;
    font-size: 1.2em;
    background-color: #2d4084;
    border: none;
    color: white;
    padding: 17px 20px;
    border-radius: 31px;
    transition: .5s;
    height: 60px;
    outline: none;
    display: block;
    margin: 0 auto;  
}

input[type="submit"]:hover{
    background-color: #f03c79;
    cursor: pointer;
}

.container.res {
    margin: 50px auto;
}

.resultados {
    display: flex;
    justify-content: space-around;
}

.container.res h2 {
    text-align: center;
    padding: 20px 50px 60px;
    font-size: 2em;
    font-weight: bold;
    color: #6e6e6e;
}

.resultados h3 {
    color: #6e6e6e;
    font-size: 1.5em;
    padding-bottom: 20px;
}

.resultados h4 {
    font-weight: 800;
    font-size: 2em;
    color: #2d4084;
    padding-bottom: 30px;
}

@media (max-width: 1080px){
.formulario select{    
    border-width: 3px;
    font-size: 1em;
    font-weight: normal;
    margin: 0px auto;
    margin-bottom: 50px;
}
}

@media (max-width: 900px){

.formulario .container{
    max-width: 95%;
}

.error{
    width: 100%;
    color: red;
    margin: 20px auto;
}

.formulario .container form {   
    display: block;   
}

.formulario select {
    border-width: 3px;
    font-size: 1.2em;
    margin: 0px auto;
    margin-bottom: 50px;
    width: 100%;
}

label{
    display: block;
    width: 100%;
    margin: 0px auto;
}

input[type="submit"] {
    font-weight: 800;
    font-size: 1.4em;
    display: block;
    width: 100%;
}

}

@media (max-width: 600px){
.resultados {    
    display: block;    
}

}


  