<div class="formulario">
    <div class="container">
        <form novalidate [formGroup]="formulario_solicitud" (ngSubmit)="onSubmit()">
            <div>
                <label for=""><i class="fas fa-list"></i> Selecciona una profesión</label>
                <select formControlName="profesion">
                    <option value="" disabled>Ej. Full-stack</option>
                    <option value="fullstack">Full-stack</option>
                    <option value="frontend">Front-end</option>
                    <option value="backend">Back-end</option>
                </select>
                <p class="error" *ngIf="formulario_solicitud.controls['profesion'].errors?.required && formulario_solicitud.controls['profesion'].touched">
                    ⚠ El campo profesión es requerido ⚠
                </p>
            </div>
            <div>
                <label for=""><i class="far fa-calendar-alt"></i> Seleciona tu experiencia</label>
                <select formControlName="experiencia">
                    <option value="" disabled>Ej. 2 años</option>
                    <option value="0">Sin experiencia</option>
                    <option value="1">1 año</option>
                    <option value="2">2 años</option>
                    <option value="3">3 años</option>
                    <option value="4">4 años</option>
                    <option value="5">Más de 4 años</option>
                </select>
                <p class="error" *ngIf="formulario_solicitud.controls['experiencia'].errors?.required && formulario_solicitud.controls['experiencia'].touched">
                    ⚠ El campo experiencia es requerido ⚠
                </p>
            </div>
            <div> <label for=""><i class="fas fa-desktop"></i> Seleciona la tecnologías con la que trabajas</label>
                <select formControlName="tecnologias">
                    <option value="" disabled>Ej. PHP</option>
                    <option value="javascript">JavaScript</option>
                    <option value="angular">Angular</option>
                    <option value="react">React</option>
                    <option value="vuejs">VueJS</option>
                    <option value="php">PHP</option>
                    <option value="nodejs">NodeJS</option>
                    <option value="java">Java</option>
                    <option value="net">.Net</option>
                </select>
                <p class="error" *ngIf="formulario_solicitud.controls['tecnologias'].errors?.required && formulario_solicitud.controls['tecnologias'].touched">
                    ⚠ El campo tecnologias es requerido ⚠
                </p>
            </div>
            <div>
                <input type="submit" value="Buscar" [disabled]="!formulario_solicitud.valid">
            </div>
        </form>
    </div>
</div>
<div class="container res">
    <h2>Resultados de la búsqueda</h2>
    <div class="resultados">
        <div>
            <h3>Título de la ocupación</h3>
            <h4><i class="fas fa-laptop-code"></i> Front-end</h4>
        </div>
        <div>
            <h3>Sueldo promedio</h3>
            <h4><i class="fas fa-euro-sign"></i> 25.000</h4>
        </div>
        <div>
            <h3>Tecnologías usadas</h3>
            <h4><i class="fas fa-code"></i> Javascript, Angular</h4>
        </div>
    </div>
</div>