<div class="menu">
    <div class="container">
        <div class="logo">
            <img src="../../assets/img/earnit_logo.png" alt="Comparador sueldos IT">
        </div>
        <div class="navmenu">
            <nav>
                <ul>
                    <li>
                        <a [routerLink]="['/']">Inicio</a>
                    </li>
                    <li>
                        <a [routerLink]="['/colabora']">Colabora</a>
                    </li>
                    <li>
                        <a [routerLink]="['/colabora']">Compara</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>