<div class="menu">
    <div class="container">
        <div class="btn_menu_res" (click)="cambiaestado()">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="logo">
            <img src="../../assets/img/earnit_logo.png" alt="Comparador sueldos IT">
        </div>
        <div class="navmenu">

            <nav>
                <ul [ngClass]="{ visible: estadobtn}">
                    <li>
                        <a [routerLink]="['/']">Inicio</a>
                    </li>
                    <li>
                        <a [routerLink]="['/colabora']">Colabora</a>
                    </li>
                    <li>
                        <a [routerLink]="['/compara']">Compara</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>