.menu .container {
    max-width: 1100px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}

.menu{
    background: linear-gradient(90deg, #f03c79 , #2d4084);
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navmenu ul li {
    display: inline-block;
    padding: 20px 15px;
}

.navmenu ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
    transition: .5s;
}

.navmenu ul li a:hover{
    color: #F03C79;    
}

.logo {
    margin-top: 10px;
}


@media (max-width:650px){

.logo {
    margin-top: 0px;
}

.menu .container {    
    display: flex;
    justify-content: space-between;   
}

.btn_menu_res div{
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px auto;
}

.btn_menu_res{
    border: 3px solid white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-top: 7px;
    transition: .5s;
    position: absolute;
    top: 5px;
    right: 5px; 
}

.navmenu ul{
        display: none;
}
.navmenu ul li {
    display: block;
    padding: 10px 15px;
    background-color: white;
    text-align: center;
    border-bottom: 1px solid grey;
}

.navmenu ul li a{
    color: #2D4084;
    width: 100%;
    height: 100%;
    display: block;
}

.logo {
    display: block;
    margin-left: 5px;
    width: 200px;
}

.visible{
    display: block!important;
   
}

.navmenu ul{
    position: absolute;
    top: 60px;
    right: 40px;
    width: 70%;
    z-index: 1; 
}

.navmenu ul li{
    padding: 15px 0;
}

.navmenu ul li a{
    height: 100%;
    width: 100%;
    font-size: 1.2em;
}


}