<div class="menu">
    <div class="log">
        <img src="" alt="">
    </div>
    <div class="navmenu">
        <nav>
            <ul>
                <li>
                    <a [routerLink]="['/']">Inicio</a>
                </li>
                <li>
                    <a [routerLink]="['/colabora']">Colabora</a>
                </li>
                <li>
                    <a [routerLink]="['/colabora']">Compara</a>
                </li>
            </ul>
        </nav>
    </div>
</div>