.formulario_colabora{
    padding: 15px 0;
    background: linear-gradient(to bottom right, #fff 0%, #fff 50%, #eee 50%, #eee 100%);
}

.formulario_colabora .container {
    max-width: 95%;
    margin: 50px auto;
    padding: 40px 20px;
    box-shadow: 6px 3px 36px #929292;
    border-radius: 25px;
    background: #fff;
    max-width: 75%;
}

div.formcol input[type=number],
div.formcol select{
    display: block;
    width: 50%;
    margin: 5px auto;
    font-size: 1.1em;
    height: 50px;
    outline: none; 
    margin-bottom: 40px;
    padding-left: 10px;
    border: none;
    border-bottom: 3px solid #f03c79;    
    color: #6e6e6e;
    font-weight: bold;
    transition: .5s;   
}

.error{
    width: 50%;
    color: red;
    margin: 20px auto;
}

div.formcol input[type=number]:hover,
div.formcol select:hover{
    background-color: #f8f7f7;
    border-bottom: 3px solid #2d4084;
    padding-left: 15px;
}


div.formcol label{
    display: block;
    width: 50%;
    margin: 0px auto;    
    color: #6e6e6e;    
    padding-bottom: 4px;
    font-size: .9em;
}

label .far,label .fas,label .fa {
    color: #f03c79;
}

div.formcol input[type=number],
div.formcol select{
    cursor: pointer;
}

div.formcol input[type=submit]{
    background-color: #2d4084;
    color: white;
    height: 60px;
    border: none;
    width: 48%;
    text-align: center;
    display: block;
    border-radius: 80px;
    font-size: 1.3em;
    margin: 15px auto;
    border: 5px solid #2d4084;
    transition: .5s;
}

div.formcol input[type=submit]:hover{
    cursor: pointer;
    background-color: #f03c79;
    border: 5px solid #f03c79;
}

div.formcol input[type=number]{
    height: 50px;
}

.imagen_gracias img{
    width: 60%;
    margin: 0 auto;
    display: block;
}

.imagen_gracias h3{
    font-size: 4em;
    text-align: center;
    padding: 50px 0;
    font-weight: 800;
    color: #2d4084;
}

input[disabled]{
    background-color: #929292!important;
    border-color: #929292!important;
    cursor: no-drop!important;
}

@media (max-width: 900px){
    .formulario_colabora .container {
    max-width: 95%;    
}

.error{
    width: 50%;
    color: red;
    margin: 20px auto;
}

.imagen_gracias h3{
    font-size: 2em;
}

.banner_col {
    margin-top: 50px;
}

}

@media (max-width:650px){
div.formcol {
    display: block;
}

div.formcol input[type=number],
div.formcol input[type=submit],
div.formcol select,
div.formcol label {
    width:100%;
}

}