<div class="presentacion" id="more">
    <div class="container pres_index">
        <h3>Conoce <span>earnI.T.</span></h3>
        <hr>
        <p>El valor de tu trabajo en el mercado está en constante cambio. Mantente actualizado con earnI.T. Si eres una empresa, con salarios acordes al mercado, conseguirás atraer
            talento.</p>
        <div class="icons">
            <div class="single_icon">
                <img src="../../assets/img/earnit-empresas.png" alt="earnIt para empresas">
                <h4>Para empresas</h4>
                <p>Comprueba el valor real de tus actuales trabajadores y de posibles nuevas contrataciones</p>
            </div>
            <div class="single_icon">
                <img src="../../assets/img/earnit-senior.png" alt="earnIt para seniors">
                <h4>Para seniors</h4>
                <p>Con earnI.T. podrás averiguar si estás cobrando acorde a lo que marca el mercado</p>
            </div>
            <div class="single_icon">
                <img src="../../assets/img/earnit-junior.png" alt="earnIt para juniors">
                <h4>Para juniors</h4>
                <p>Averigua qué cantidad puedes negociar en tu incorporación al sector IT</p>
            </div>
        </div>
    </div>
</div>