<div class="logos">
    <div class="container lista_logos">
        <div><img src="../../assets/img/javascript-logo.png" alt="JavaScript"></div>
        <div><img src="../../assets/img/java-logo.png" alt="Java"></div>
        <div><img src="../../assets/img/node-logo.png" alt="NodeJS"></div>
        <div><img src="../../assets/img/angular-logo.png" alt="Angular"></div>
        <div><img src="../../assets/img/react-logo.png" alt="React"></div>
        <div><img src="../../assets/img/php-logo.png" alt="Php"></div>

    </div>
</div>